<div class="row">
  <div class="column">
    <h3>Live your life untriggered. </h3>
  </div>

  <div class="column">
    <h3>Previously logged emotions:</h3>
    <% @emotions.uniq.each do |emotion| %>
      <ul>
      <h5><%= link_to emotion.name, emotion %></h5> 
      </ul>
    <% end %> 
  </div>


  <div class="column">
  <h3>Entries in the last day:</h3>
    <% @entries.recent.each do |recent|%>
      <%= recent.content %> - <%= recent.emotion.name %> <br> <br>
    <% end %>
  <%= link_to 'New Entry', new_entry_path %> <br>
  <%= link_to 'All Entries', entries_path %> 
  </div>
</div>
