<h2>Live your life untriggered. Here are your previously logged emotions:</h2> <hr>
<% @emotions.uniq.each do |emotion| %>
  <h3><%= link_to emotion.name, emotion %></h3> <br>
<% end %> <hr>

<h2>Entries in the last day:</h2>

<% @entries.recent.each do |recent|%>
    <%= recent.created_at.strftime("%A, %B %e, %Y") %> - <%= recent.emotion.name %>
<% end %>
<%= link_to 'New Entry', new_entry_path %> <br>
<%= link_to 'All Entries', entries_path %>
